@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-fancy {
  font-family: 'MuseoModerno', cursive;
}

[data-amplify-authenticator] {
  height: 100vh;
  position: relative;
}
[data-amplify-authenticator] [data-amplify-container] {
  /* margin-right: 18vw; */
  margin-bottom: 12vh;
}
/* @media (max-width: 1200px) {
  [data-amplify-authenticator] [data-amplify-container] {
    margin-right: 0;
  }
} */
[data-amplify-authenticator] [data-amplify-container]::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1530435622277-39544076a5f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  filter: brightness(0.8) blur(3px);
}
[data-amplify-authenticator] [data-amplify-router] {
  border-radius: 0 0 25px 25px;
  border: none;
  box-shadow: 0 0 16px rgb(55, 55, 55);
}
[data-landing-header] {
  margin-bottom: 9px;
  border-radius: 25px 25px 0 0;
  padding: 10px 0 20px 0;
  background-color: white;
  border-bottom: 2px solid grey;
  box-shadow: 0 0 16px rgb(55, 55, 55);
}
[data-landing-header] > div {
  width: 100%;
  text-align: center;
}
[data-landing-header] h1 {
  font-size: 37px !important;
  color: var(--amplify-components-button-primary-background-color);
}

[data-content-layout] {
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  pointer-events: none;
}

amplify-s3-image {
  --height: 500px;
  --width: 800px;
}

.rectangle {
  border: 5px solid #ffe603a6;
  position: absolute;
  border-radius: 3px;
}

video {
  height: 500px;
  width: 800px;
}

[data-main-div] {
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
}
[data-marking-modal] > [data-focus-lock-disabled] > div {
  max-width: 1600px;
}

.heading {
  padding: 24px 28px;
}

[data-btn-mark-switch] {
  width: 200px;
  text-align: center !important;
}
.table-container td {
  cursor: pointer;
}
.div-marking {
  max-width: 1450px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  position: relative;
}
.div-marking > .div-marking-src-before {
  position: absolute;
  width: 800px;
  height: 500px;
  z-index: 2;
}
.div-marking > .div-marking-src {
  width: 800px;
  height: 500px;
  flex: 0 0 800px;
  z-index: 1;
}
.div-marking > .div-marking-src-after {
  position: absolute;
  width: 800px;
  height: 500px;
  text-align: center;
  font-size: 40px;
  line-height: 400px;
  color: rgb(237, 241, 245);
  z-index: 0;
  opacity: 0.5;
  background-color: rgb(167, 179, 187);
  border-top: 30px solid rgb(204, 211, 217);
  border-right: 30px solid rgb(156, 164, 172);
  border-bottom: 30px solid rgb(142, 151, 157);
  border-left: 30px solid rgb(188, 195, 204);
}
.div-marking > .div-marking-inputs {
  flex: 1 0 200px;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.div-marking > .div-marking-helps {
  flex: 1 0 250px;
  border-left: 2px solid silver;
  padding-left: 24px;
}
.div-marking .div-marking-inputs .div-marking-inputs-div {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}
.div-marking .div-marking-inputs .div-marking-inputs-div button {
  text-align: center !important;
}
h3,
h4 {
  margin: 0;
  margin-bottom: 8px;
}

.space-left {
  padding-left: 8px;
}
